<form method="post" action="/">
  <div class="input-group form-margin">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
  </div><!-- /input-group -->

  <div class="form-group">
    <input type="project_name" class="form-control" id="project-name" placeholder="Project Name">
  </div>

  <div class="form-group">
    <input type="address" class="form-control" id="address" placeholder="Address">
  </div>

  <div class="form-group">
    <input type="city" class="form-control" id="city" placeholder="City">
  </div>

  <div class="form-group form-margin">
    <input type="state" class="form-control" id="state" placeholder="State">
  </div>

  <div class="form-group form-margin">
    <input type="zip" class="form-control" id="zip" placeholder="Zip">
  </div>

  <div class="form-group form-margin">
    <input type="phone" class="form-control" id="phone" placeholder="Phone">
  </div>

  <div class="form-group form-margin">
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>